@page "/todo"

@inject ITodoItemService todoItemService

<h3>Todo @todoItems.Count(todo => !todo.IsComplete)</h3>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodoItem"> Add todo</button>
<br><br>

<div>
    <ul>
@foreach (var todoItem in todoItems)
    {
        <li>
            <input @bind="todoItem.Name" />
            <input type="checkbox" @onchange="( async () => await ToggleTodoItem(todoItem) )" checked="@todoItem.IsComplete" />
            <button @onclick="( async () => await DeleteTodoItem(todoItem) )"> Delete </button>
        </li>
    }
    </ul>
</div>

@code {

    private List<TodoItem> todoItems = new List<TodoItem>();

    private string? newTodo;

    private bool shouldRender;
    protected override bool ShouldRender() => shouldRender;

    // this is run a tthe start of the page
    protected override async Task OnInitializedAsync()
    {
        // getting the list of items
        todoItems = (await todoItemService.GetTodoItems()).ToList();

        shouldRender = true;
    }

    // adds an item
    private async Task AddTodoItem()
    {
        // creates the new TodoItem
        TodoItem newTodoItem = new TodoItem();
        newTodoItem.Name = newTodo;
        newTodoItem.IsComplete = false;

        // asks service to add the TodoItem, and gets the list of items
        todoItems = (await todoItemService.AddTodoItem(newTodoItem)).ToList();
        // maybe better to separate into 2 methods 1. Add 2. Get
    }

    private async Task DeleteTodoItem(TodoItem todoItem)
    {
        // asks service to delete the TodoItem, and gets the list of items
        todoItems = (await todoItemService.DeleteTodoItem(todoItem)).ToList();
        // maybe better to separate into 2 methods 1. Delete 2. Get
    }

        private async Task ToggleTodoItem(TodoItem todoItem)
    {
        // toggles the ISComplete boolean
        todoItem.IsComplete = !todoItem.IsComplete;

        // asks service to replace the TodoItem, and gets the list of items
        todoItems = (await todoItemService.SetTodoItem(todoItem)).ToList();
        // maybe better to separate into 2 methods 1. Set 2. Get
    }
    
}