@page "/todo"

@inject ITodoItemService todoItemService

<h3>Todo (</h3>

<input placeholder="Something todo" @bind="newTodo" />
<button>Add todo</button>
<br><br>

<div>
    <ul>
@foreach (var todo in todoItems)
    {
        <li>
            <input @bind="todo.Name" />
            <input type="checkbox" @bind="todo.IsComplete" />
        </li>
    }
    </ul>
</div>


@code {

    private List<TodoItem> todoItems = new List<TodoItem>();

    private string? newTodo;

    private bool shouldRender;
    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        var itemList = (await todoItemService.GetTodoItems()).ToList();

        if (itemList == null)
        {
            todoItems.Clear();
        }
        else
        {
            todoItems = itemList;
        }

        shouldRender = true;
    }
    
}